.container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: start;
    padding-top: 20px;
    background-color: blue;
}

.bloco3{
    display: flex;
    flex-direction: column;
}


.divGasto {
    display: flex;
    max-height: 50%;
    height: 400px;
    padding: 5px;
    flex-direction: column;
    text-align: left;
}

.gastosInfo {
    background-color: #ffffff;
    height: 100%;
    padding: 20px;
    border-radius: 10px;
}

.tabelaGasto {
    border-radius: 5px 5px 0px 0px;
    overflow: hidden;
    margin-top: 10px;
}

.tabelaGasto table {
    max-width: 100%;
    width: 450px;
    border-collapse: collapse;
}

.tabelaGasto thead {
    background-color: #cdd0d0cc;
    border-radius: 10px;
}

.tabelaGasto tr {
    border-bottom: 1px solid #ddd;
}

.tabelaGasto td,
.tabelaGasto th {
    padding: 9px;
}

.formGasto {
    display: flex;
    align-items: center;
    padding: 5px;
}

.formGasto h1,
.gastosInfo h1,
.formCategoria h1 {
    font-size: 25px;
    text-align: left;
}

.formGasto form, .formCategoria form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    border-radius: 10px;
    background-color: #ffffff;
    max-width: 100%;
    width: 300px;
    margin-bottom: 0;
}

.formCategoria {
    display: flex;
    padding: 5px;
}


.campo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 3px;

    & input {
        width: 100%;
        border-radius: 7px;
        height: 25px;
        color: black;
        font-size: 12px;
        outline: none;
    }
}

.campo label{
    width: 100%;
    text-align: left;
}

.categoriaData {
    display: flex;
    justify-content: center;
    text-align: left;

    & select {
        border-radius: 7px;
        height: 70%;
        font-size: 14px;
        outline: none;
        cursor: pointer;
    }
}

.categoriaData input {
    cursor: pointer;
    outline: none;
}

button {
    border-radius: 7px;
    height: 40px;
    font-weight: bold;
    border: none;
    cursor: pointer;
}

button:hover {
    opacity: 0.9;
}

.erro {
    font-weight: bold;
    margin: 0;
}