
.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    width: 92%;
    max-width: 85vw;
    margin: 0 auto;
    font-family: var(--fonte-corpo); 
}

.bloco1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
}

.bloco1 div {
    background-color: #17172b;
    border: 1px solid #22d3ee66;
    box-shadow:
        0 0 0 1px #22d3ee1a,
        0 0 12px #22d3ee59,
        0 0 24px #22d3ee26;
    transition: box-shadow 0.3s ease;
    margin: 5px;
    border-radius: 10px;
}

.bloco1 h1 {
    font-weight: normal;
    font-size: 15px;
    text-transform: uppercase;
    color: #7e889d;
    font-family: var(--fonte-titulo);
}

.bloco1 h2 {
    font-size: 1.7em;
    text-transform: uppercase;
    color: #4BE1FC;
    font-family: var(--fonte-titulo);
    font-weight: normal;

}

.totalGasto,
.renda,
.saldo {
    padding: 10px;
}

.renda input {
    border: none;
    outline: none;
    font-size: 25px;
}

.bloco2 {
    display: grid;
    grid-template-columns: 1fr 1.15fr 0.8fr;
    width: 100%;
    margin-top: 20px;
}

.bloco3 {
    display: grid;
}

.divGrafico {
    padding: 5px;
}

.grafico {
    background-color: #17172b;
    outline: 1px solid #1A4350;
    border-radius: 10px;
    padding: 20px;
    height: 460px;
}

.divGasto {
    display: flex;
    max-height: 100%;
    padding: 5px;
    flex-direction: column;
    text-align: left;
}

.gastosInfo {
    background-color: #17172b;
     outline: 1px solid #1A4350;
    padding: 20px;
    border-radius: 10px;
    max-height: 70%;
    height: 100%;
    color: #F8FAFC;

}

.tabelaGasto {
    border-radius: 5px 5px 0px 0px;
    overflow: hidden;
    margin-top: 10px;
    height: 90%;
    overflow-y: auto;
}

.tabelaGasto::-webkit-scrollbar {
    display: none;
}

.tabelaGasto table {
    width: 100%;
    border-collapse: collapse;
}

.tabelaGasto thead {
    border-radius: 10px;
    position: sticky;
    top: 0;
}


.tabelaGasto tr {
    border-bottom: 1px solid #8f98a814;
}

.tabelaGasto td,
.tabelaGasto th {
    padding: 9px;
    color: #8F98A8;
    height: 10px;
}

.formGasto {
    display: flex;
    align-items: center;
    padding: 5px;
}



.formGasto h1,
.gastosInfo h1,
.formCategoria h1,
.divGrafico h1 {
    font-size: 25px;
    text-align: left;
    color: #F8FAFC;
}

.formGasto form,
.formCategoria form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    border-radius: 10px;
    background-color: #17172b;
    outline: 1px solid #1A4350;
    width: 100%;
    margin-bottom: 0;
}

.formCategoria {
    display: flex;
    align-items: center;
    padding: 5px;
}


.campo {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0 3px;

    & input {
        background-color: transparent;
        border: 1px solid #2a2e50;
        width: 98%;
        border-radius: 7px;
        max-height: 100%;
        height: 30px;
        color: #F8FAFC;
        font-size: 14px;
        padding: 3px;
        outline: none;
    }
}

.campo input:focus{
    border: 1px solid #7b7f9f;

}

.campo label {
    width: 100%;
    text-align: left;
    color: #8F98A8;
}

.categoriaData {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    text-align: left;
    margin: 0;

    & select {
        border-radius: 7px;
        width: 100%;
        max-height: 100%;
        height: 35px;
        font-size: 14px;
        outline: none;
        color: #F8FAFC;
        cursor: pointer;
        background-color: transparent;
        border: 1px solid #2a2e50;
    }
}

.categoriaData select:focus{
    border: 1px solid #7b7f9f;
}

.categoriaData option{
    background-color: #17172b;
}


.campoDataCategoria {
    width: 100%;
}

.categoriaData input {
    cursor: pointer;
    outline: none;
}

button {
    border-radius: 10px;
    max-height: 100%;
    height: 40px;
    font-weight: bold;
    border: 1px solid #317b91;
    cursor: pointer;
    color: #4BE1FC;
    background-color: #183e4940;

}

button:hover {
    border: 1px solid #3cb5cbe9;
    opacity: 0.9;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(1); 
  cursor: pointer;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}


.erro {
    color: #F8FAFC;
    font-weight: bold;
    margin: 3px;
    width: 100%;
    height: 20px;
    font-size: 0.9rem;
    text-align: left;
    font-weight: normal;
}

.iconExcluirGasto {
    cursor: pointer;
}