.containerHistorico {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 92%;
    max-width: 85vw;
    padding-top: 20px;
    margin: 0 auto;
    font-family: var(--fonte-corpo);
}


.divBlocos {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 0.4fr));
}

.divHistoricos {
    background-color: #17172b;
    outline: 1px solid #1A4350;
    margin: 5px;
    padding: 20px;
    border-radius: 10px;
    max-height: 100%;
    height: 20rem;
    text-align: left;
    
}

.cabeçalhoDivMes h1 {
    font-family: var(--fonte-titulo);
    color: #F8FAFC;
    font-weight: normal;
}

.tabelaHistorico {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 80%;
    border-collapse: collapse;
    border-radius: 5px 5px 0px 0px;
    margin-top: 10px;
    overflow-y: auto;
}

.tabelaHistorico::-webkit-scrollbar {
    display: none;
}

.tabelaHistorico table {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
}

.tabelaHistorico tr {
    border-bottom: 1px solid #8f98a814;
}

.tabelaHistorico td,
.tabelaHistorico th {
    padding: 9px;
    color: #8F98A8;
}

.tabelaGasto td {
    height: 40px;
    overflow: hidden;
}


.tabelaHistorico thead {
    border-radius: 10px;
    position: sticky;
    top: 0;
    text-transform: uppercase;
    font-weight: normal;
}

.cabeçalhoDivMes {
    display: flex;
    justify-content: space-between;
}

.cabeçalhoDivMes img {
    cursor: pointer;
}

.totalMes {
    margin-top: auto;
    border-bottom: 1px solid #ccc;
    border-radius: 0px 0px 5px 5px;
    padding: 8px;
    color: #8F98A8;
    text-align: right;
    font-weight: bold;
    text-transform: uppercase;
    position: sticky;
    bottom: 0;
}