.containerHistorico {
    /* background-color: aliceblue; */
    display: flex;
    align-items: center;
    justify-content: center;
    width: 92%;
    max-width: 1500px;
    padding-top: 20px;
    margin: 0 auto;
}


.divBlocos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    /* background-color: aqua; */
    height: 700px;
}

.divHistoricos {
    background-color: white;
    margin: 5px;
    padding: 20px;
    border-radius: 10px;
    max-height: 80%;
    height: 100%;
    text-align: left;
}



.tabelaHistorico {
    width: 100%;
    height: 90%;
    border-collapse: collapse;
    border-radius: 5px 5px 0px 0px;
    margin-top: 10px;
    overflow-y: auto;
}

.tabelaHistorico::-webkit-scrollbar {
    display: none;
}

.tabelaHistorico table {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
}

.tabelaHistorico tr {
    border-bottom: 1px solid #ccc;
}

.tabelaHistorico td,
.tabelaHistorico th {
    padding: 9px;
}

.tabelaGasto td {
    height: 40px;
    overflow: hidden;
}

.tabelaHistorico thead {
    background-color: #cdd0d0;
    border-radius: 10px;
    position: sticky;
    top: 0;
}