.cadastro {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
}

.logoCadastro{
    width: 200px;
    height: auto;
    margin-bottom: 30px;
}

.cadastro h1 {
    font-size: 30px;
    margin: 20px;
    text-align: center;
    color: #C574FB;
    text-shadow: 0px 0px 20px #c574fb53;
    font-family: var(--fonte-titulo);
    font-weight: normal;
}

.cadastro form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px;
    border-radius: 10px;
    background-color: #17172b;
    outline: 1px solid #1A4350;
    max-width: 50%;
    width: 400px;
    min-height: 350px;
    margin-bottom: 20px;

    & button {
        border-radius: 10px;
        margin: 20px 6px;
        height: 40px;
        width: 98%;
        font-weight: bold;
        border: 1px solid #317b91;
        cursor: pointer;
        color: #4BE1FC;
        background-color: #183e4940;
        font-family: var(--fonte-corpo);

    }

    & button:hover {
        border: 1px solid #3cb5cbe9;
        opacity: 0.9;
    }

}

.campoCadastro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 5px 10px 10px;
    text-align: left;
}

.campoCadastro input {
    background-color: transparent;
    border: 1px solid #2a2e50;
    border-radius: 10px;
    height: 40px;
    width: 98%;
    font-size: 16px;
    padding-left: 10px;
    outline: none;
    color: #F8FAFC;
}

.campoCadastro input:focus {
    border: 1px solid #F8FAFC;
}

.campoCadastro input::placeholder {
    text-transform: uppercase;
    font-family: var(--fonte-corpo);
    font-size: 0.8em;
}

.erroCadastro {
    font-weight: bold;
    margin: 5px;
    min-height: 20px;
    color: #F8FAFC;
    font-weight: normal;
    font-size: 0.8em;
}

.linkLogin {
    text-align: center;
    text-decoration: none;
    font-weight: bold;
}