
.cadastro{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
}

.cadastro h1{
    font-size: 30px;
    margin: 20px;
    text-align: center;
}

.cadastro form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px;
    border-radius: 10px;
    background-color: #ffffff;
    max-width: 50%;
    width: 400px;
    min-height: 350px;
    margin-bottom: 20px;

    & button{
        border-radius: 10px;
        margin: 20px 6px;
        height: 40px;
        width: 98%;
        font-weight: bold;
        border: none;
        cursor: pointer;
        background-color: #ccc;
    }

    & button:hover{
        opacity: 0.9;
    }

}

.campoCadastro{
   display: flex;
   flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    margin: 5px 10px 10px;
    text-align: left;
}

.campoCadastro input{
    border: 1px solid #0b0b0b;
    border-radius: 10px;
    height: 40px;
    width: 98%;
    font-size: 16px;
    padding-left: 10px;
    outline: none;

}

.erroCadastro{
   font-weight: bold;
    margin: 0;
    min-height: 20px;
}

.linkLogin{
    text-align: center;
    text-decoration: none;
    font-weight: bold;
}