
.cadastro{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
}

.cadastro h1{
    font-size: 30px;
    margin: 20px;
    text-align: center;
}

.cadastro form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 30px;
    border-radius: 10px;
    background-color: #fff;
    max-width: 50%;
    width: 400px;
    margin-bottom: 20px;

    & button{
        border-radius: 10px;
        height: 40px;
        font-weight: bold;
        border: none;
        cursor: pointer;
        background-color: #d5d2d2;
    }

    & button:hover{
        opacity: 0.9;
    }

}

.campoCadastro{
    /* background-color: #ffffff; */
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.campoCadastro input{
    border: 1px solid #000000;
    border-radius: 10px;
    height: 40px;
    /* background-color: #2b5254; */
    color: white;
    font-size: 16px;
    padding-left: 10px;
    outline: none;
    width: 90%;

}

.erro{
    font-weight: bold;
    margin: 0;
    /* background-color: #2b5254; */
}

.linkLogin{
    text-align: center;
    text-decoration: none;
    font-weight: bold;
}