@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --fonte-titulo: "Sora", sans-serif;
    --fonte-corpo: "Inter", sans-serif;
}
*{
    margin: 0;
}

body{
    background-color: #111113;
}
    
