.containerEditar {
    /* background-color: aliceblue; */
    display: grid;
    grid-template-columns: 2fr 1fr;
    width: 92%;
    max-width: 85vw;
    margin: 0 auto;
    padding-top: 20px;
}

.editarBloco1 {
    /* background-color: aqua; */
    height: 700px;
    padding: 20px;
}

.editarBloco2 {
    /* background-color: rgb(255, 225, 0); */
    height: 450px;
    padding: 20px;
}


.editarGastos,
.editarCategorias {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    max-height: 70%;
    height: 100%;
    text-align: left;

}

.tabelaGasto table {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
}

.tabelaGasto input, .tabelaGasto select{
    width: 100%;
    box-sizing: border-box;
    padding: 5px;
}

.tabelaCategoria {
    width: 100%;
    height: 90%;
    border-collapse: collapse;
    border-radius: 5px 5px 0px 0px;
    margin-top: 10px;
    overflow-y: auto;
}

.tabelaCategoria input {
    width: 100%;
    box-sizing: border-box;
    padding: 5px;
}

.tabelaCategoria::-webkit-scrollbar {
    display: none;
}


.tabelaCategoria table {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
}

.tabelaCategoria thead {
    background-color: #cdd0d0;
    border-radius: 10px;
    position: sticky;
    top: 0;
}


.tabelaCategoria tr {
    border-bottom: 1px solid #ddd;

}

.tabelaCategoria td,
.tabelaCategoria th {
    padding: 9px;
}

.tabelaCategoria td,
.tabelaGasto td {
    height: 40px;
    overflow: hidden;
}


.btnEditarExcluir {
    cursor: pointer;
}

.colunaIcone {
    width: 80px;
    padding: 9px 4px;
}

.colunaDado {
    width: 20%;
}

.TituloTabela{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

.TituloTabela p{
    width: 40%;
}